
#page{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	}

header{
	background-image:url("images/e2.jpg");
	height:280px;
	width:1200px;
	margin-left:65px;


}
 table{
	margin-left:-70px;
}
#p1 table tr td a{
	height:50px;
	width:1000px;
	text-decoration:none;
	padding:10px;
	font-size:20px;
	margin-left:20px;

}
#p1 table tr td{
	background-color:skyblue;
}

page{
	background-color:blue;
	text-align: center;

}

nav ul{
	text-align:center;
}

nav ul li{
	display:inline;
	padding:25px;
}

#topimg{
	border:3px solid #00fec5;

}
.div4{
	float:left;
	width:325px;
	height:400px;
	border:1px solid white;

}
.fix{
	clear:both;
}
.footer{
	float:left;
	clear:both;
	height:80px;
	width:100%;
	text-align:center;

}
a{
	text-decoration:none;
}
.sp{
	font-family:Comic Sans MS;
	margin-left:-220px;
	color:white;
	font-size:30;
}
form{
	width:1200px;
	margin-left:auto;
	margin-right:auto;

}
